<div class="col-sm-8 blog-main">
  <p id="notice"><%= notice %></p>
  <%= link_to 'Create a new Blog', new_blog_path if logged_in?(:site_admin) %>
  <%= render @blogs %>
  
  <%= paginate @blogs %>

</div>
  












