<div class="inner cover">
    <div class="row">
        <div class="col-md-6">
            <%= image_tag "trees.jpg", height: 200, alt: "profile image" %>
        </div>
        <div class="col-md-6">
            <h1 class="cover-heading">About</h1>
            <p class="lead">This is a website created to teach the workings of html, css, javascript, ruby, and ruby on rails... althought ruby and ruby on rails was not in the disclosure it is still nice to learn.</p>
        </div>
        <p>
            <button class="btn btn-success" type="button" data-toggle="collapse" data-target="#moreInformation" aria-expanded="false" aria-controler="jobHistory">
                More information
            </button>
            
            
        </p>
        <p>
            <div class="collapse" id="moreInformation">
                <br />
                <div class="block">
                    yeah we have more information!!! 
                </div>
            </div>
        </p>
    </div>
</div>
